<div id="menu">
    <ul>
        <li><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><a href="#">Menu Item 3</a></li>
        <li><a href="#">Menu Item 4</a></li>
        <li><a href="#">Menu Item 5</a></li>
        <li><a href="#">Menu Item 6</a></li>
        <li><a href="#">Menu Item 7</a></li>
        <li><a href="#">Menu Item 8</a></li>
        <li><a href="#">Menu Item 9</a></li>
        <li><a href="#">Menu Item 10</a></li>
        <li><a href="#">Menu Item 11</a></li>
        <li><a href="#">Menu Item 12</a></li>
    </ul>
</div>
<div id="right">
  <div id="menubar">
        <div id="button">
            Menu
        </div>
    </div>
	<div class="background">
    <h1>Main Section</h1>
    <button>Learn more</button>
    <div class="support">
      <h3>subheading</h3>
      <p>tagline</p>
    </div>
  </div>
  <div class="background">
    <h2>Second Section</h2>
  </div>
  <div class="background">
    <h2>Discover Section</h2>
    <button>Learn more</button>
  </div>
</div>